<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SERVUsuario</servlet-name>
        <servlet-class>controlador.SERVUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLogin</servlet-name>
        <servlet-class>controlador.SERVLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVCliente</servlet-name>
        <servlet-class>controlador.SERVCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVTipoConductor</servlet-name>
        <servlet-class>controlador.SERVTipoConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVConductor</servlet-name>
        <servlet-class>controlador.SERVConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVAyudante</servlet-name>
        <servlet-class>controlador.SERVAyudante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVVehiculo</servlet-name>
        <servlet-class>controlador.SERVVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVTipoUsuario</servlet-name>
        <servlet-class>controlador.SERVTipoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVTipoPrecio</servlet-name>
        <servlet-class>controlador.SERVTipoPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVPrecio</servlet-name>
        <servlet-class>controlador.SERVPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVEncomienda</servlet-name>
        <servlet-class>controlador.SERVEncomienda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVUsuario</servlet-name>
        <url-pattern>/SERVUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLogin</servlet-name>
        <url-pattern>/SERVLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVCliente</servlet-name>
        <url-pattern>/SERVCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVTipoConductor</servlet-name>
        <url-pattern>/SERVTipoConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVConductor</servlet-name>
        <url-pattern>/SERVConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVAyudante</servlet-name>
        <url-pattern>/SERVAyudante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVVehiculo</servlet-name>
        <url-pattern>/SERVVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVTipoUsuario</servlet-name>
        <url-pattern>/SERVTipoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVTipoPrecio</servlet-name>
        <url-pattern>/SERVTipoPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVPrecio</servlet-name>
        <url-pattern>/SERVPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVEncomienda</servlet-name>
        <url-pattern>/SERVEncomienda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
